<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Situs Arqueologia</title>
  <style type="text/css">
    .im {
      color: #262626 !important;
    }
    body {
      font-family: Roboto, Arial, Helvetica, sans-serif;
      color: #262626;
      line-height: 1.7;
      font-size: 15px;
      text-align: center;
      background-color: #F3F0E5;
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }    
    #container {
      background-color: #fff;
      border: 1px solid #DCDBD6;
      border-radius: 6px;
      padding: 60px;
      max-width: 550px;
    }
    h1 {
      margin: 0;
      font-size: 28px;
    }
  </style>
</head>
<body>  
  <div id="container">
    {{> header }}
    {{{ body }}}
  </div>
</body>
</html>