<head>
  <style type="text/css">
    .im {
      color: #262626 !important;
    }
    #email-table {
      background-color: #fff;
    }
    #email-body {
      max-width: 550px;
      font-size: 15px;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      background-color: #fff;
      color: #262626;
      line-height: 1.7;        
      text-align: left;
      padding: 10px 16px 10px 16px;
      margin: 0;
    }
    
    @media only screen and (min-width: 600px) {
      #email-table {
        background-color: #f2f2f2;
      }
      #email-body {        
        padding: 50px 50px 40px 50px;
        margin: 50px;
      }
    }
  </style>
</head>
<body>
  <table
    id="email-table"
    width="100%"
    border="0"
    cellspacing="0" 
    cellpadding="0"
  >
    <tr>
      <td align="center">
        <div id="email-body">
          {{> header }}
          {{{ body }}}
          {{> footer }}
        </div>
      </td>
    </tr>
  </table>
</body>
