<div>
  <p>
    Atenciosamente, <br />
    Time Situs
  </p>
</div>
<hr style="
    margin: 30px 0px 20px 0px;
    border-top: 1px solid #e6e6e6;
    border-bottom: none;
    height: 0;
  ">
<div style="
    font-size: 12px;
    color: #999;
  ">
  <p>
    Situs Arqueologia é uma plataforma online para gerenciamento de projetos arqueológicos que está
    presente na web e em dispositivos móveis. Facilite o trabalho de campo e mantenha seus documentos
    seguros e disponíves a qualquer momento que você precisar.
  </p>
  <p>
    Acesse o nosso site e saiba mais:
    <br />
    <a 
      href="https://situsarqueologia.com.br"
      style="color: #4d4d4d"
    >
      https://situsarqueologia.com.br
    </a>
  </p>
</div>