<p>
  Olá, {{ firstName }}
</p>
<p>
  Alguém (esperamos que você) requisitou a recuperação de senha da sua conta Situs.
  Caso esta seja mesmo sua intenção, utilize o código abaixo na tela de recuperação de senha do aplicativo:
</p>
<p style="font-weight: bold;">
  {{ token }}
</p>
<p>
  Se você não deseja alterar sua senha, por favor desconsidere esta mensagem.
</p>